body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  background: #eee;
  color: #222222;
  padding: 0;
  margin: 0;
}

h1 {
  color: #555;
  text-shadow: 0 3px 3px #bbbbbb;
  font-size: 40px;
  display: inline-block;
  position: absolute;
  top: 45px;
}

h2 {
	text-shadow: 0 3px 3px #ccc;
	font-size: 22px;
	background: url('../../../ressources/images/arrow.png') no-repeat left center;
	margin: 15px 0 15px 0;
	padding: 0 0 0 20px;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin-right: 10px;
}

header {
	border-bottom: 8px solid #000;
	box-shadow: 0 3px 20px #8c8c8c;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}

.wrap {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.footer {
	text-align: center;
}

a {
	text-decoration: none;
	color: #1f90e0;
}

.package {
	border-bottom: 6px solid #aaa;
	height: 50px;
	width: 172px;
	background: rgba(200, 200, 200, 0.5);
	margin: 0 10px 10px 0;
	display: inline-block;
	padding: 3px;
	box-shadow: 0 0 8px #bdbdbd;
	position: relative;
}

.package a {
	color: red;
	font-size: 5px;
	right: 3px;
	top: 3px;
	position: absolute;
}

.package:hover {
	box-shadow: 0 0 10px #428cc0;
}

.package img {
	vertical-align: middle;
	line-height: 35px;
	width: 50px;
	height: 50px;
}

.package p {
	display: inline-block;
}

.no-package-warning {
	background: white;
	display: block;
	padding: 20px;
	border: dotted 1px black;
	text-align: center;
}

.donate {
  display: relative;
}

.donate input[type=text] {
  width: 90%;
  line-height: 30px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  border: none;
  display: inline-block;
}

.donate button {
  display: inline-block;
  line-height: 30px;
}
