<!DOCTYPE html>
<html>
  <head>
    <title>ProxMate options</title>
    <link rel="stylesheet" href="css/options.css">
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../src/pages/options.js"></script>
    <script src="../../src/pages/services/chrome.js"></script>
  </head>
  <body ng-app="optionsApp" ng-controller="MainCtrl">
    <header>
      <div class="wrap">
        <img class="logo" src="../../ressources/images/icon128.png" alt="">
        <h1>ProxMate options</h1>
      </div>
    </header>
    <section class="main">
      <div class="wrap">
        <section class="packages">
          <h2>Installed Packages</h2>
          <div ng-show="installedPackages.length == 0" class="no-package-warning">
            <p>Hello! It looks like you have no packages installed as of yet. You need to install a few before ProxMate is able to work!</p>
            <p><a href="http://proxmate.me/packages/" target="_top">Click here to install some!</a></p>
          </div>
          <p ng-show="installedPackages.length > 0">These are all packages you currently have installed. Click <a href="http://proxmate.me/packages/" target="_blank">here</a> for more!</p>
          <div class="package" ng-repeat="package in installedPackages">
            <img ng-src="{{ package.smallIcon }}" alt="">
            <p>{{ package.name }}</p>
            <a href="#" class="remove" ng-click="removePackage(package.id, package.name)"></a>
          </div>
        </section>
        <section class="donate">
          <h2>Support ProxMate</h2>
          <p>Helped ProxMate? Donated over $3? Enter your key here to unlock some extras.</p>
          <p><a href="http://proxmate.me/donate/" target="_blank">Click here for more info!</a></p>
          <input type="text" ng-disabled="hasDonationkey" name="donationKey" ng-model="donationKey" placeholder="Donation Key">
          <button ng-hide="hasDonationkey" ng-disabled="donationKey.length < 30" ng-click="validateKey(donationKey)">Set Key</button>
          <button ng-show="hasDonationkey" ng-click="clearKey()">Clear Key</button>
          <p><strong>{{ donationKeyStatus }}</strong></p>
        </section>
        <section class="thankyou">
          <h2>Thank you!</h2>
          <p>ProxMate is brought to you by Personalitycores.</p>
          <p>Keeping the ProxMate project alive is not an easy job. Wanna help us doing it? Please share this addon and consider donating :)</p>
          <p>Oh, and <a href="https://www.facebook.com/ProxMate/" target="_blank">join us on Facebook</a> for updates and news on the service!</p>
        </section>
      </div>
    </section>
  </body>
</html>
